* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: #121118;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 20px 0;

}

.header__content {
    display: flex;
    justify-content: space-between;
}

.nav {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 135% */
    letter-spacing: 0.42px;
    display: flex;
    gap: 52px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background: #121118;
}

.header-fight {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 135% */
    letter-spacing: 0.42px;
    display: flex;
    gap: 51px;
}


.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    max-width: 956px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 55px;
    font-weight: 400;
    line-height: 73px;
    /* 115.873% */
    letter-spacing: 2.88px;
    margin: 30px;
}

.hero__text {
    width: 746px;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 128.571% */
    letter-spacing: 0.42px;
    padding: 10px 0 20px 0;

}

.hero__btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 26.4px;
    /* 114.783% */
    letter-spacing: 0.42px;
    display: inline-flex;
    padding: 10px 40px 15px 30px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #FF4343;
    border: none;
    margin: 20px;
}

.hero__content-title {
    width: 224px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.42px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.work {
    background: #121118;
}

.work__content {
    text-align: start;
}

.work__photo {
    display: flex;
    justify-content: end;
    margin-top: 60px;
}

.work__title {
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 70.4px;
    /* 121.379% */
    letter-spacing: 1.92px;
    margin-top: 90px;
}

.work__text {
    width: 452px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 37.8px;
    /* 145.385% */
    letter-spacing: 1.08px;
}

.work__content {
    display: flex;
    justify-content: space-around;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.slide {
    background: #121118;
}

.slide__content {
    display: flex;
    justify-content: space-between;
}

.slide__title {
    width: 462px;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 1.92px;
    margin-top: 20px;
}

.slide__group {
    margin-top: 70px;
}

.slide__text {
    width: 524px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 37.8px;
    letter-spacing: 1.08px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.effort {
    background: #121118;
}

.effort__content {
    display: flex;
    justify-content: space-around;
}

.effort__title {
    width: 404px;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 70.4px;
    /* 130.37% */
    letter-spacing: 3.2px;
}

.effort__text {
    width: 526px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px;
    /* 140% */
    letter-spacing: 1.08px;

}

.link__content {
    background: #121118;
    display: flex;
    justify-content: space-around;

}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

}

.link__group {
    gap: 20px;
}

.link__title {
    width: 445px;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 70.4px;
    /* 121.379% */
    letter-spacing: 1.92px;
    margin-top: 60px;
}

.link__text {
    width: 530px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 37.8px;
    /* 151.2% */
    letter-spacing: 1.08px;

}











@media screen and (max-width: 900px) {
    .nav a {
        font-size: 10px;
    }

    .hero__title {
        display: flex;
        flex-direction: column;
    }

    .hero__content-logo {
        width: 100%;
        height: 100%;
    }

    .hero__text {
        font-size: 20px;
    }

    .work__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .work__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .work__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work__img {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .slide__content-logo {
        width: 100%;
    }

    .slide__wrap {
        display: flex;
        flex-direction: column;
    }

    .slide__content {
        display: flex;
        flex-direction: column;
    }

    .slide__group {
        display: flex;
        flex-direction: column;
    }

    .slide__title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        width: 100%;
    }

    .slide__text {
        width: 100%;
    }

    .effort__wrap {
        display: flex;
        flex-direction: column;
    }

    .effort__content {
        display: flex;
        flex-direction: column;
    }

    .effort__group {
        display: flex;
        flex-direction: column;
    }

    .effort__title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        width: 100%;

    }

    .effort__text {
        width: 100%;
    }

    .effort__photo {
        width: 100%;
    }

    .link__content {
        display: flex;
        flex-direction: column;
    }

    .link__photo {
        width: 100%;
    }

    .link__title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
        width: 100%;
    }

    .link__text {
        font-size: 20px;
        width: 100%;
    }
}









@media screen and (max-width: 590px) {
    .nav a {
        display: none;
    }

    .work__photo {
        display: none;
    }

    .header-fight {
        display: flex;
        justify-content: center;
    }

    .hero__title {
        display: flex;
        flex-direction: column;
    }

    .hero_text {
        display: flex;
        flex-direction: column;
    }

    .hero__content-logo {
        width: 100%;
        height: 100%;
    }

    .work__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .work__title {
        font-size: 20px;
        line-height: 30px;
    }

    .work__photo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .work__text {
        display: flex;
        align-items: center;
        font-size: 10px;
        width: 100%;
    }

    .slide__wrap {
        display: flex;
        flex-direction: column;
    }

    .slide__content {
        display: flex;
        flex-direction: column;
    }

    .slide__group {
        display: flex;
        align-items: center;
    }

    .slide__title {
        font-size: 20px;
        line-height: 20px;
    }

    .slide__text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 100%;
    }

    .slide__text span {
        margin: 0;
        padding: 0;
    }

    .effort__title {
        font-size: 20px;
        line-height: 20px;
    }


    .effort__text {
        font-size: 10px;
    }

    .effort__photo {
        width: 100%;
    }

    .link__photo {
        width: 100%;
    }

    .link__title {
        font-size: 20px;
        line-height: 20px;
    }

    .lnik__text {
        font-size: 20px;
        line-height: 20px;
    }
}











@media screen and (max-width: 518px) {
    .header-fight {
        display: none;
    }

    .header__content {
        justify-content: center;
    }

    .hero__title {
        display: flex;
        flex-direction: column;
    }

    .hero__content-logo {
        width: 100%;
        height: 100%;
    }

    .hero__text {
        font-size: 40px;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .work__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .work__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .work__img {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .slide__wrap {
        display: flex;
        flex-direction: column;
    }

    .slide__content {
        display: flex;
        flex-direction: column;
    }

    .slide__group {
        display: flex;
        align-items: center;
    }

    .slide__title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 10px;
        width: 100%;
    }

    .slide__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .effort__text {
        font-size: 10px;
    }

    .link__photo {
        width: 100%;
    }

    .link__title {
        font-size: 20px;
        line-height: 20px;
    }

    .link__text {
        font-size: 10px;
    }
}